:global{
  .editor-demo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .editor-operation {
    width: 100%;
    display: flex;
    background:#f5f5f5;
    >div{
      width: 100%;
    }
  }

  .editor-container {
    display: flex;
    justify-content: flex-start;
    background: #fff;
    flex-grow: 1;
    .editor-nodePanel {
      width: 100%;
      position: relative;
      .editor-nodePanel-resize{
        position: absolute;
        width: 10px;
        right: 0;
        top: 0;
        bottom:0;
        background: #989898;
        cursor: e-resize;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .editor-canvas {
      width: 100%;
      overflow: scroll;
      position: relative;
      .canvas-container-content {
        width: 100%;
        height: 100%;
        cursor: -webkit-grab;
        // transform: translate(1034px, 516px);

        .editor-view {
          transform-origin: 0px 0px;

          .editor-view-content {
            position: absolute;
          }

          .editor-view-svg {
            overflow: visible;
          }
        }
      }
    }


    .editor-property {
      width: 300px;
      min-width: 300px;
    }
  }

  .controls-title {
    width: 100%;
    line-height: 24px;
    margin: 3px auto 0;
    text-align: center;
    font-size: 13px;
    color: #465258;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .screen>div{
    border: none;
    overflow: hidden;
  }
  .screen--bak{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA1IiBoZWlnaHQ9IjIwNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZGVmcz48cGF0dGVybiBpZD0iZ3JpZCIgd2lkdGg9IjIwNSIgaGVpZ2h0PSIyMDUiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiPjxwYXRoIGQ9Ik0gMCA0MSBMIDIwNSA0MSBNIDQxIDAgTCA0MSAyMDUgTSAwIDgyIEwgMjA1IDgyIE0gODIgMCBMIDgyIDIwNSBNIDAgMTIzIEwgMjA1IDEyMyBNIDEyMyAwIEwgMTIzIDIwNSBNIDAgMTY0IEwgMjA1IDE2NCBNIDE2NCAwIEwgMTY0IDIwNSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMzMwMDFBIiBvcGFjaXR5PSIwLjIiIHN0cm9rZS13aWR0aD0iMSIvPjxwYXRoIGQ9Ik0gMjA1IDAgTCAwIDAgMCAyMDUiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzMzMDAxQSIgc3Ryb2tlLXdpZHRoPSIxIi8+PC9wYXR0ZXJuPjwvZGVmcz48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyaWQpIi8+PC9zdmc+);
    background-position: -56px -151px;
  }

  .svg-caves{
    left: 0px;
    top: 0px;
    display: block;
    width: 3427px;
    height: 1800px;
    position: absolute;
    background: rgb(230, 230, 230);
  }
  .preview-modal{
    width: 100%!important;
    top:0!important;
    height:100%!important;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    right:16px!important;
    left:auto!important;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    position: relative;
    padding: 12px 16px;
    padding-left: 16px!important;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .ant-select-selection {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent!important;
  }
  .ant-select-selection__placeholder, .ant-select-search__field__placeholder {
    color: #222222!important;
  }
  .ant-collapse {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom: 0;
    border-radius: 0!important;
  }
  .ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-radius: 0!important;
  }
  .ant-upload.ant-upload-select-picture-card {
    display: table;
    float: left;
    width: 76px;
    height: 80px;
    margin-right: 8px;
    margin-bottom: 8px;
    text-align: center;
    vertical-align: top;
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
  }
}
